tasks/imports-solutions/ColdChain_Extra _Solution.json
{
    "devices": [
        {
            "attrs": [
                {
                    "created": "2020-07-24T19:12:16.338885+00:00",
                    "id": 17,
                    "is_static_overridden": true,
                    "label": "truckID",
                    "static_value": "123456",
                    "template_id": "9",
                    "type": "static",
                    "value_type": "string"
                }
            ],
            "id": "700ab4",
            "label": "Truck1 ",
            "templates": [
                9
            ]
        }
    ],
    "templates": [
        {
            "attrs": [
                {
                    "id": 15,
                    "label": "temperature",
                    "static_value": "",
                    "template_id": "9",
                    "type": "dynamic",
                    "value_type": "float"
                },
                {
                    "id": 16,
                    "label": "location",
                    "static_value": "",
                    "template_id": "9",
                    "type": "dynamic",
                    "value_type": "geo:point"
                },
                {
                    "id": 17,
                    "label": "truckID",
                    "static_value": "<Truck identifier>",
                    "template_id": "9",
                    "type": "static",
                    "value_type": "string"
                },
                {
                    "id": 18,
                    "label": "message",
                    "static_value": "",
                    "template_id": "9",
                    "type": "actuator",
                    "value_type": "string"
                }
            ],
            "id": 9,
            "label": "Truck"
        }
    ],
    "flowRemoteNodes": [],
    "flows": [
        {
            "name": "Cadeia fria",
            "enabled": true,
            "id": "b65a2d9c-974e-4af7-b6a2-a353a7c00df9",
            "flow": [
                {
                    "id": "A7906b35e5fcd2c",
                    "type": "tab",
                    "label": "Flow 1"
                },
                {
                    "id": "A5d74b37b4859bc",
                    "type": "event template in",
                    "z": "A7906b35e5fcd2c",
                    "name": "Trucks",
                    "event_create": false,
                    "event_update": false,
                    "event_remove": false,
                    "event_configure": false,
                    "event_publish": true,
                    "template_id": "9",
                    "x": 83.59663391113281,
                    "y": 274.06241607666016,
                    "wires": [
                        [
                            "A4bc63b751e3224",
                            "Ae7f19485974798"
                        ]
                    ]
                },
                {
                    "id": "A4bc63b751e3224",
                    "type": "switch",
                    "z": "A7906b35e5fcd2c",
                    "name": "Problem temperature range (< 0 and > 10)",
                    "property": "payload.data.attrs.temperature",
                    "propertyType": "msg",
                    "rules": [
                        {
                            "t": "lt",
                            "v": "0",
                            "vt": "num"
                        },
                        {
                            "t": "gt",
                            "v": "10",
                            "vt": "str"
                        }
                    ],
                    "checkall": "false",
                    "outputs": 2,
                    "x": 382.5994644165039,
                    "y": 181.43174076080322,
                    "wires": [
                        [
                            "Aa797ceb84a694",
                            "Ac54e9f89b68be"
                        ],
                        [
                            "Ac54e9f89b68be",
                            "Aa797ceb84a694"
                        ]
                    ]
                },
                {
                    "id": "Ae7f19485974798",
                    "type": "geofence",
                    "z": "A7906b35e5fcd2c",
                    "name": "Off the planned route",
                    "mode": "polyline",
                    "filter": "outside",
                    "points": [
                        {
                            "latitude": -22.92518035658459,
                            "longitude": -47.07458234082837
                        },
                        {
                            "latitude": -22.904912963585943,
                            "longitude": -47.07458234082837
                        },
                        {
                            "latitude": -22.904912963585943,
                            "longitude": -47.04945735390246
                        },
                        {
                            "latitude": -22.92518035658459,
                            "longitude": -47.04945735390246
                        }
                    ],
                    "geopoint": "payload.data.attrs.location",
                    "x": 330.59942626953125,
                    "y": 315.1048393249512,
                    "wires": [
                        [
                            "A89bad73e4b1248",
                            "A15f088dfc4eab7"
                        ]
                    ]
                },
                {
                    "id": "Aea7c5b5f02bca8",
                    "type": "multi actuate",
                    "z": "A7906b35e5fcd2c",
                    "name": "Display In truck",
                    "device_source": "self",
                    "devices_source_dynamic": "",
                    "devices_source_dynamicFieldType": "msg",
                    "devices_source_configured": [
                        ""
                    ],
                    "attrs": "message",
                    "_devices_loaded": true,
                    "x": 1041.5964279174805,
                    "y": 289.10791540145874,
                    "wires": []
                },
                {
                    "id": "Aa797ceb84a694",
                    "type": "template",
                    "z": "A7906b35e5fcd2c",
                    "name": "Message Display Temperature",
                    "field": "message",
                    "fieldType": "msg",
                    "syntax": "handlebars",
                    "template": "Out of acceptable temperature {{payload.data.attrs.temperature}}",
                    "output": "str",
                    "x": 722.5937042236328,
                    "y": 271.4233341217041,
                    "wires": [
                        [
                            "Aea7c5b5f02bca8"
                        ]
                    ]
                },
                {
                    "id": "Ac54e9f89b68be",
                    "type": "notification",
                    "z": "A7906b35e5fcd2c",
                    "name": "Temperature Notification",
                    "source": "payload.data.attrs",
                    "sourceFieldType": "msg",
                    "messageDynamic": "",
                    "messageStatic": "Out of acceptable temperature",
                    "messageFieldType": "msg",
                    "msgType": "static",
                    "x": 740.5965347290039,
                    "y": 104.37770175933838,
                    "wires": []
                },
                {
                    "id": "A89bad73e4b1248",
                    "type": "notification",
                    "z": "A7906b35e5fcd2c",
                    "name": "Route Notification",
                    "source": "payload.data.attrs",
                    "sourceFieldType": "msg",
                    "messageDynamic": "",
                    "messageStatic": "Off the planned route",
                    "messageFieldType": "msg",
                    "msgType": "static",
                    "x": 485.01424407958984,
                    "y": 562.0056676864624,
                    "wires": []
                },
                {
                    "id": "A15f088dfc4eab7",
                    "type": "template",
                    "z": "A7906b35e5fcd2c",
                    "name": "Off the planned route",
                    "field": "message",
                    "fieldType": "msg",
                    "syntax": "handlebars",
                    "template": "Off the planned route",
                    "output": "str",
                    "x": 666.0142974853516,
                    "y": 363.0055618286133,
                    "wires": [
                        [
                            "Aea7c5b5f02bca8"
                        ]
                    ]
                }
            ],
            "created": 1595617968778,
            "updated": 1595619478597
        }
    ],
    "cronJobs": []
}