tasks/imports-solutions/DefesaCivil_Solution.json
{
    "devices": [
        {
            "attrs": [],
            "id": "3add3b",
            "label": "D3",
            "templates": [
                6
            ]
        },
        {
            "attrs": [],
            "id": "4302d4",
            "label": "D1",
            "templates": [
                1,
                2
            ]
        },
        {
            "attrs": [],
            "id": "6e3671",
            "label": "WeatherStation",
            "templates": [
                4,
                2
            ]
        },
        {
            "attrs": [],
            "id": "8c1f2d",
            "label": "D2",
            "templates": [
                4,
                3
            ]
        }
    ],
    "templates": [
        {
            "attrs": [
                {
                    "id": 1,
                    "label": "protocol",
                    "static_value": "mqtt",
                    "template_id": "1",
                    "type": "static",
                    "value_type": "string"
                },
                {
                    "id": 2,
                    "label": "location",
                    "static_value": "-22.893916, -47.060999",
                    "template_id": "1",
                    "type": "static",
                    "value_type": "geo:point"
                }
            ],
            "id": 1,
            "label": "D1_Properties"
        },
        {
            "attrs": [
                {
                    "id": 3,
                    "label": "rain",
                    "static_value": "",
                    "template_id": "2",
                    "type": "dynamic",
                    "value_type": "float"
                },
                {
                    "id": 4,
                    "label": "humidity",
                    "static_value": "",
                    "template_id": "2",
                    "type": "dynamic",
                    "value_type": "float"
                }
            ],
            "id": 2,
            "label": "D1_Telemetry"
        },
        {
            "attrs": [
                {
                    "id": 5,
                    "label": "protocol",
                    "static_value": "mqtt",
                    "template_id": "3",
                    "type": "static",
                    "value_type": "string"
                },
                {
                    "id": 6,
                    "label": "SN",
                    "static_value": "000000000d91c8df",
                    "template_id": "3",
                    "type": "static",
                    "value_type": "string"
                }
            ],
            "id": 3,
            "label": "D2_Properties"
        },
        {
            "attrs": [
                {
                    "id": 7,
                    "label": "temperature",
                    "static_value": "",
                    "template_id": "4",
                    "type": "dynamic",
                    "value_type": "float"
                }
            ],
            "id": 4,
            "label": "D2_Telemetry"
        },
        {
            "attrs": [
                {
                    "id": 11,
                    "label": "distance",
                    "static_value": "",
                    "template_id": "6",
                    "type": "dynamic",
                    "value_type": "float"
                },
                {
                    "id": 12,
                    "label": "battery_voltage",
                    "static_value": "",
                    "template_id": "6",
                    "type": "dynamic",
                    "value_type": "float"
                }
            ],
            "id": 6,
            "label": "D3_Telemetry"
        },
        {
            "attrs": [
                {
                    "id": 13,
                    "label": "data",
                    "static_value": "",
                    "template_id": "7",
                    "type": "dynamic",
                    "value_type": "object"
                }
            ],
            "id": 7,
            "label": "Logger"
        }
    ],
    "flowRemoteNodes": [],
    "flows": [
        {
            "name": "WeatherStation",
            "enabled": true,
            "id": "58f246a6-ba51-414f-bbd2-c773f514a208",
            "flow": [
                {
                    "id": "A6be70ffb53935",
                    "type": "tab",
                    "label": "Flow 1"
                },
                {
                    "id": "A29dfdda4e75a22",
                    "type": "event device in",
                    "z": "A6be70ffb53935",
                    "name": "D1",
                    "event_configure": false,
                    "event_publish": true,
                    "device_id": "4302d4",
                    "x": 112.515625,
                    "y": 109.9609375,
                    "wires": [
                        [
                            "A3f81319bbadabe"
                        ]
                    ]
                },
                {
                    "id": "A250b52729f09be",
                    "type": "event device in",
                    "z": "A6be70ffb53935",
                    "name": "D2",
                    "event_configure": false,
                    "event_publish": true,
                    "device_id": "8c1f2d",
                    "x": 113.5234375,
                    "y": 208.95312881469727,
                    "wires": [
                        [
                            "A3f81319bbadabe"
                        ]
                    ]
                },
                {
                    "id": "A3f81319bbadabe",
                    "type": "multi device out",
                    "z": "A6be70ffb53935",
                    "name": "WeatherStation",
                    "device_source": "configured",
                    "devices_source_dynamic": "",
                    "devices_source_dynamicFieldType": "msg",
                    "devices_source_configured": [
                        "6e3671"
                    ],
                    "attrs": "payload.data.attrs",
                    "_devices_loaded": true,
                    "x": 318.515625,
                    "y": 153.8125,
                    "wires": []
                }
            ],
            "created": 1595531183176,
            "updated": 1595531183176
        },
        {
            "name": "Alerta 1 - Tempo Seco",
            "enabled": true,
            "id": "7fc082ad-25b8-4a1c-9494-c3ea8e7d4e12",
            "flow": [
                {
                    "id": "Aa839fff1e12ac",
                    "type": "tab",
                    "label": "Flow 1"
                },
                {
                    "id": "A5de33ce6569134",
                    "type": "event device in",
                    "z": "Aa839fff1e12ac",
                    "name": "WeatherStation",
                    "event_configure": false,
                    "event_publish": true,
                    "device_id": "6e3671",
                    "x": 176.5234375,
                    "y": 259.9609251022339,
                    "wires": [
                        [
                            "A83981a0d850798"
                        ]
                    ]
                },
                {
                    "id": "A83981a0d850798",
                    "type": "switch",
                    "z": "Aa839fff1e12ac",
                    "name": "threshold (humidity)",
                    "property": "payload.data.attrs.humidity",
                    "propertyType": "msg",
                    "rules": [
                        {
                            "t": "btwn",
                            "v": "20",
                            "vt": "num",
                            "v2": "30",
                            "v2t": "num"
                        },
                        {
                            "t": "btwn",
                            "v": "12",
                            "vt": "num",
                            "v2": "20",
                            "v2t": "num"
                        },
                        {
                            "t": "lt",
                            "v": "12",
                            "vt": "num"
                        }
                    ],
                    "checkall": "false",
                    "outputs": 3,
                    "x": 384.5156478881836,
                    "y": 259.1874542236328,
                    "wires": [
                        [
                            "A742d9e92a032f"
                        ],
                        [
                            "A34ef55edcea66a"
                        ],
                        [
                            "Aa283b562453908"
                        ]
                    ]
                },
                {
                    "id": "A8e12ba7fb1e568",
                    "type": "notification",
                    "z": "Aa839fff1e12ac",
                    "name": "notification",
                    "source": "notification.metadata",
                    "sourceFieldType": "msg",
                    "messageDynamic": "notification.message",
                    "messageStatic": "",
                    "messageFieldType": "msg",
                    "msgType": "dynamic",
                    "x": 863.5156097412109,
                    "y": 255.2968635559082,
                    "wires": []
                },
                {
                    "id": "A742d9e92a032f",
                    "type": "template",
                    "z": "Aa839fff1e12ac",
                    "name": "Estado de Atenção",
                    "field": "notification",
                    "fieldType": "msg",
                    "syntax": "handlebars",
                    "template": "{\"metadata\": {\"priority\": \"moderated\"},\n \"message\": \"Estado de Atenção\"\n}",
                    "output": "json",
                    "x": 633.0313186645508,
                    "y": 200.03125381469727,
                    "wires": [
                        [
                            "A8e12ba7fb1e568"
                        ]
                    ]
                },
                {
                    "id": "A34ef55edcea66a",
                    "type": "template",
                    "z": "Aa839fff1e12ac",
                    "name": "Estado de Alerta",
                    "field": "notification",
                    "fieldType": "msg",
                    "syntax": "handlebars",
                    "template": "{\"metadata\": {\"priority\": \"high\"},\n \"message\": \"Estado de Alerta\"\n}",
                    "output": "json",
                    "x": 629.03125,
                    "y": 257.0312204360962,
                    "wires": [
                        [
                            "A8e12ba7fb1e568"
                        ]
                    ]
                },
                {
                    "id": "Aa283b562453908",
                    "type": "template",
                    "z": "Aa839fff1e12ac",
                    "name": "Estado de Emergência",
                    "field": "notification",
                    "fieldType": "msg",
                    "syntax": "handlebars",
                    "template": "{\"metadata\": {\"priority\": \"critical\"},\n \"message\": \"Estado de Emergência\"\n}",
                    "output": "json",
                    "x": 636.0312652587891,
                    "y": 313.0312075614929,
                    "wires": [
                        [
                            "A8e12ba7fb1e568"
                        ]
                    ]
                }
            ],
            "created": 1595531183181,
            "updated": 1595534711090
        },
        {
            "name": "Alerta 2 - Risco de Enchente",
            "enabled": true,
            "id": "3030ed32-3725-4e91-878b-7e95f536c071",
            "flow": [
                {
                    "id": "Adf31859fcbb928",
                    "type": "tab",
                    "label": "Flow 1"
                },
                {
                    "id": "A245915010337da",
                    "type": "event device in",
                    "z": "Adf31859fcbb928",
                    "name": "WeatherStation",
                    "event_configure": false,
                    "event_publish": true,
                    "device_id": "6e3671",
                    "x": 148.51564025878906,
                    "y": 104.95313453674316,
                    "wires": [
                        [
                            "A99e3e89c8adb88"
                        ]
                    ]
                },
                {
                    "id": "A99e3e89c8adb88",
                    "type": "cumulative sum",
                    "z": "Adf31859fcbb928",
                    "name": "rain (last hour)",
                    "timePeriod": "60",
                    "targetAttribute": "payload.data.attrs.rain",
                    "timestamp": "payload.metadata.timestamp",
                    "output": "payload.data.attrs.rain60Min",
                    "fieldType": "msg",
                    "x": 153.50784301757812,
                    "y": 198.5625057220459,
                    "wires": [
                        [
                            "Aa7a220473afff"
                        ]
                    ]
                },
                {
                    "id": "A6cd34229707c1c",
                    "type": "event device in",
                    "z": "Adf31859fcbb928",
                    "name": "FloodingSensor",
                    "event_configure": false,
                    "event_publish": true,
                    "device_id": "3add3b",
                    "x": 150.51566314697266,
                    "y": 284.96867084503174,
                    "wires": [
                        [
                            "Aa7a220473afff"
                        ]
                    ]
                },
                {
                    "id": "Aa7a220473afff",
                    "type": "merge data",
                    "z": "Adf31859fcbb928",
                    "name": "",
                    "targetData": "payload.data.attrs",
                    "mergedData": "merged.data.attrs",
                    "x": 348.52344131469727,
                    "y": 193.05469512939453,
                    "wires": [
                        [
                            "A5fb4a920d8f8f8"
                        ]
                    ]
                },
                {
                    "id": "A5fb4a920d8f8f8",
                    "type": "switch",
                    "z": "Adf31859fcbb928",
                    "name": "threshold (distance)",
                    "property": "merged.data.attrs.distance",
                    "propertyType": "msg",
                    "rules": [
                        {
                            "t": "lt",
                            "v": "2",
                            "vt": "num"
                        },
                        {
                            "t": "lt",
                            "v": "2.5",
                            "vt": "num"
                        }
                    ],
                    "checkall": "false",
                    "outputs": 2,
                    "x": 445.5156555175781,
                    "y": 311.19529914855957,
                    "wires": [
                        [
                            "Ac90e8db32489a"
                        ],
                        [
                            "A1245c4e1ab5c7b"
                        ]
                    ]
                },
                {
                    "id": "Ac90e8db32489a",
                    "type": "template",
                    "z": "Adf31859fcbb928",
                    "name": "'Estado de Enchente'",
                    "field": "notification",
                    "fieldType": "msg",
                    "syntax": "handlebars",
                    "template": "{\"metadata\" : {\"priority\": \"high\"},\n \"message\": \"Estado de Enchente\"\n}",
                    "output": "json",
                    "x": 704.5156021118164,
                    "y": 135.65625190734863,
                    "wires": [
                        [
                            "A86f2e84adf5438"
                        ]
                    ]
                },
                {
                    "id": "A86f2e84adf5438",
                    "type": "notification",
                    "z": "Adf31859fcbb928",
                    "name": "notification",
                    "source": "notification.metadata",
                    "sourceFieldType": "msg",
                    "messageDynamic": "notification.message",
                    "messageStatic": "",
                    "messageFieldType": "msg",
                    "msgType": "dynamic",
                    "x": 976.5468940734863,
                    "y": 222.8046646118164,
                    "wires": []
                },
                {
                    "id": "A1245c4e1ab5c7b",
                    "type": "switch",
                    "z": "Adf31859fcbb928",
                    "name": "threshold (rain)",
                    "property": "merged.data.attrs.rain60Min",
                    "propertyType": "msg",
                    "rules": [
                        {
                            "t": "gt",
                            "v": "100",
                            "vt": "num"
                        }
                    ],
                    "checkall": "true",
                    "outputs": 1,
                    "x": 713.0078277587891,
                    "y": 217.69531059265137,
                    "wires": [
                        [
                            "Aefc5391ee7ccb8"
                        ]
                    ]
                },
                {
                    "id": "Aefc5391ee7ccb8",
                    "type": "template",
                    "z": "Adf31859fcbb928",
                    "name": "'Risco de Enchente'",
                    "field": "notification",
                    "fieldType": "msg",
                    "syntax": "handlebars",
                    "template": "{\"metadata\" : {\"priority\": \"critical\"},\n \"message\": \"Risco de Enchente\"\n}",
                    "output": "json",
                    "x": 708.5312576293945,
                    "y": 317.03117513656616,
                    "wires": [
                        [
                            "A86f2e84adf5438"
                        ]
                    ]
                }
            ],
            "created": 1595531183184,
            "updated": 1595536637389
        }
    ],
    "cronJobs": []
}