tasks/imports-solutions/HandsOn_Solution.json
{
    "devices": [
        {
            "attrs": [],
            "id": "8f1aa2",
            "label": "PINHR_003_VIRTUAL",
            "templates": [
                11
            ]
        },
        {
            "attrs": [],
            "id": "c06d0a",
            "label": "PINHR_003",
            "templates": [
                10
            ]
        }
    ],
    "templates": [
        {
            "attrs": [
                {
                    "id": 19,
                    "label": "data",
                    "static_value": "",
                    "template_id": "10",
                    "type": "dynamic",
                    "value_type": "integer"
                }
            ],
            "id": 10,
            "label": "Water_Quallity_Encoded",
            "updated": "2020-07-27T14:19:38.902779+00:00"
        },
        {
            "attrs": [
                {
                    "id": 21,
                    "label": "oxygen",
                    "static_value": "",
                    "template_id": "11",
                    "type": "dynamic",
                    "value_type": "integer"
                },
                {
                    "id": 20,
                    "label": "pollutants",
                    "static_value": "",
                    "template_id": "11",
                    "type": "dynamic",
                    "value_type": "integer"
                }
            ],
            "id": 11,
            "label": "Water_Quallity_Decode_Virtual",
            "updated": "2020-07-27T14:19:44.124474+00:00"
        }
    ],
    "flowRemoteNodes": [
        {
            "id": "decoder-node",
            "image": "dojot/training:decoder-node-snap-2020-08-v042"
        }
    ],
    "flows": [
        {
            "name": "Decoder flux",
            "enabled": true,
            "id": "d4c4cf8c-2e38-457b-b582-93a6e64d00b7",
            "flow": [
                {
                    "id": "A63bf82a473869c",
                    "type": "tab",
                    "label": "Flow 1"
                },
                {
                    "id": "Af22db4b6e2a348",
                    "type": "decoder-node",
                    "z": "A63bf82a473869c",
                    "name": "",
                    "inData": "payload.data.attrs.data",
                    "inDataFieldType": "msg",
                    "outPollutants": "out.pollutants",
                    "outPollutantsFieldType": "msg",
                    "outOxygen": "out.oxygen",
                    "outOxygenFieldType": "msg",
                    "x": 436.6022262573242,
                    "y": 272.1732339859009,
                    "wires": [
                        [
                            "A59c8d032a4fa2"
                        ]
                    ]
                },
                {
                    "id": "Ab1c488d14f5858",
                    "type": "event device in",
                    "z": "A63bf82a473869c",
                    "name": "Water_Quallity_Encoded",
                    "event_configure": false,
                    "event_publish": true,
                    "device_id": "c06d0a",
                    "x": 261.60230255126953,
                    "y": 272.0653438568115,
                    "wires": [
                        [
                            "Af22db4b6e2a348"
                        ]
                    ]
                },
                {
                    "id": "A59c8d032a4fa2",
                    "type": "multi device out",
                    "z": "A63bf82a473869c",
                    "name": "Water_Quallity_Decode",
                    "device_source": "configured",
                    "devices_source_dynamic": "",
                    "devices_source_dynamicFieldType": "msg",
                    "devices_source_configured": [
                        "8f1aa2"
                    ],
                    "attrs": "out",
                    "_devices_loaded": true,
                    "x": 677.6050338745117,
                    "y": 256.1107578277588,
                    "wires": []
                }
            ],
            "created": 1595859560788,
            "updated": 1595859659023
        }
    ],
    "cronJobs": []
}